<div>
<h1>{{ name }}</h1>

<h3>You want to {{ intention }} this habit!</h3>

<div>
<h5>Your habit notes</h5>
<p>{{ notes }}</p>
</div>
<div>
  <img src="{{image}}" alt="{{name}}" style="width: 300px; height: auto;">
</div>


<div>
<form action="/habit/track/{{_id}}" method="POST">
<label for="input-tracker">How many {{ unit }} did you use today? </label>
<input type="number" id="input-tracker" name="tracker" placeholder="666">
<button type="submit">Send!</button>
</form>
</div>

<div class="chart-container" style=" height:40vh; width:50vw">
  <canvas id="myChart"></canvas>
</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>

 let labelArray = [] 

 for(let i=0; i<={{ goal }}; i++){
      labelArray.push(i)
 }
 
window.onload = () => { 
var ctx = document.getElementById('myChart').getContext("2d");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labelArray,
        datasets: [{
            label: '{{ name }}',
            data: [{{tracker}}],
            backgroundColor: '#5E00EC',
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: "# of Days tracked"
              }
            }],
            yAxes: [{
              scaleLabel:{
                display: true,
                labelString: 'Times per Day'
              },
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
}
</script>



