<h1>Welcome {{user.name}}</h1>
<a href="/auth/add-habit">Add a new habit!</a>

<h2>Ongoing Habits</h2>
<a href="/auth/boost">Boost Your Mood!</a>
<div>
  {{#each habits}}
  <div class="card">
    <h5 class="card-title">{{habits.name}}</h5>
    <p class="card-text">{{habits.intention}}</p>
     <p class="card-text">{{habits.goal}}</p>
     <p class="card-text">{{habits.notes}}</p>
     <a href="/auth/boost">Boost Your Mood!</a>
  </div>
  {{/each}}
</div>

