<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taby App</title>
    <!-- favicon -->
    {{!-- <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest"> --}}
    <!-- plugin scripts -->
     <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper.min.css">
    <link rel="stylesheet" href="/stylesheets/piloz-icons.css">

    <!-- theme styles -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
</head>

<body>

    <div class="preloader">
        <img src="/assets/images/loader.png" height="100" class="preloader__image" alt="">
    </div><!-- /.preloader -->

    <div class="page-wrapper">
        <header class="site-header-one stricky site-header-one__fixed-top">
            <div class="container-fluid">
                <div class="site-header-one__logo">
                    <a href="index.html">
                        <img src="assets/images/logo-1-1.png" width="129" alt="">
                    </a>
                    <span class="side-menu__toggler"><i class="fa fa-bars"></i></span><!-- /.side-menu__toggler -->
                </div><!-- /.site-header-one__logo -->
                <div class="main-nav__main-navigation">
                    <ul class="main-nav__navigation-box one-page-scroll-menu">
                        <li class="scrollToLink">
                            <a href="/auth/profile">Home</a>
                        </li>
                        <li class="scrollToLink "><a href="/habit/main">Habits</a></li>
                        <li class="scrollToLink current"><a href="/mood/main">Moods</a></li>
                        <li class="scrollToLink"><a href="/habit/add-habit">Add new Habbit</a></li>
                        <li class="scrollToLink"><a href="/mood/add-mood">Add new Mood</a></li>
                        
                    </ul><!-- /.main-nav__navigation-box -->
                </div><!-- /.main-nav__main-navigation -->
                <div class="main-nav__right">
                    <a href="#" class="thm-btn"><span>Logout</span></a>
                </div><!-- /.main-nav__right -->
            </div><!-- /.container-fluid -->
        </header>

 <section id="features" class="service-one">
            <div class="container">
                <div class="block-title text-center">
                    <p>Track your Moods {{name}}</p>
                    <h3>Don´t forget to share your Mood</h3>
                </div>
                <div class="row">
                    {{#each user.moods}}
                    <div class=" col-xl-3 col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="1500ms">
                        <div class="service-one__single">
                            <div class="service-icon">
                                <ul class="footer-widget__social">
                                <li><a href="/mood/update/{{_id}}" class="color-1"><i class="fas fa-edit"></i></a></li>
                                <li><a href="/mood/delete/{{_id}}"class="color-2"><i class="fas fa-minus-circle"></i></a></li>
                            </ul>
                                <div class="icon-box" style="background-color: aqua;">
                                </div>
                            </div>
                            <div class="text">
                                <h3>I have felt {{mood}}</h3>
                                <p>{{note}}</p>
                            </div>
                            <br>
                            <ul class="list-unstyled pricing-one__list">
                                <li><i></i>In a scale of: {{scale}}</li>
                            </ul>
                            <a href="/mood/{{_id}}" class="thm-btn pricing-one__btn"><span>Go details</span></a>
                            <br>
                            <br> 
                           {{!--  <a href="/habit/update/{{_id}}" class="thm-btn pricing-one__btn">Edit habit</a>
                            <br>
                            <br>
                            <a href="/habit/delete/{{_id}}" class="thm-btn pricing-one__btn">Delete</a> --}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
             
        </section>

<script src="https://kit.fontawesome.com/c6832721e6.js" crossorigin="anonymous"></script>
 <script src="/assets/js/jquery-3.5.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/isotope.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/swiper.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>