
<h1>Your Moods Page</h1>

<h2>{{ mood }}</h2>



<p>You feel {{ mood }} on a scale of {{ scale }} basis!</p>

<p>
  
</p>

<div class="chart-container" style=" height:40vh; width:50vw">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>

  let arr = []
 
window.onload = () => { 
var ctx = document.getElementById('myChart').getContext("2d");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Sad',2,3,4,5],
        datasets: [{
            label: '{{ name }}',
            data: [{{scale}}],
            backgroundColor: '#5E00EC',
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: "# of Days tracked"
              }
            }],
            yAxes: [{
              scaleLabel:{
                display: true,
                labelString: 'How {{mood}} do you feel'
              },
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
}
</script>


<script>
  switch (){
    case 'daily':
    return []
    break;
    case 'weekly'
  }
</script>

