
<h1>Global Mood's Page</h1>
<br>

<div class="chart-container" style=" height:40vh; width:50vw">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>


 
window.onload = () => { 
var ctx = document.getElementById('myChart').getContext("2d");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'Sad',
            data: [{{sad}}],
            backgroundColor: '#5E00EC'
        },{
            label: 'Anxious',
            data: [{{anxious}}],
            backgroundColor: '#FF39A6',
            type: 'bar'
        },{
            label: 'Neutral',
            data: [{{neutral}}],
            backgroundColor: '#27A8FF',
            type: 'bar'
        },{
            label: 'Happy',
            data: [{{happy}}],
            backgroundColor: '#00EAC3',
            type: 'bar'
        },{
            label: 'Excited',
            data: [{{excited}}],
            backgroundColor: '#FF8806',
            type: 'bar'
        }],
        labels: ['*Every time you add a feeling you add 1 unit']
    },
    options: {
        scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Feelings"
              }
            }],
            yAxes: [{
              scaleLabel:{
                display: true,
                labelString: 'Feeling Total'
              },
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
}
</script>


